<footer class="absolute bottom-0 flex items-center justify-center w-full max-w-2xl prose -translate-x-1/2 border-t border-gray-200 prose-gray left-1/2 h-28">
  Copyright {% year %} @ Devkey
</footer>
